In [38]:
bob = ['Bob Smith', 42, 30000, 'software']
sue = ['Sue Jones', 45, 40000, 'hardware']

In [47]:
sue[2] *= 1.2

In [49]:
persons = [bob, sue]

In [50]:
persons

[['Bob Smith', 42, 30000, 'software'], ['Sue Jones', 45, 48000.0, 'hardware']]

In [86]:
from collections import Iterable
def flatten(lis):
     for item in lis:
         if isinstance(item, Iterable) and not isinstance(item, str):
             for x in flatten(item):
                 yield x
         else:        
             yield item

In [88]:
for person in persons:
    print(person[0].split()[0])

Bob
Sue

In [ ]:
[first_name, last_name for last_name, first_name in ]

In [94]:
for person in persons:
    for first_name, last_name in [person[0].split()]:
        print(first_name, last_name)

Bob Smith
Sue Jones

In [95]:
for person in persons:
    print(person[2])

30000
48000.0

In [96]:
pays = list(map(lambda x: x[2], persons))

In [97]:
pays

[30000, 48000.0]

In [98]:
persons.append(['Tom', 50, 0, None])

In [99]:
persons

[['Bob Smith', 42, 30000, 'software'],
 ['Sue Jones', 45, 48000.0, 'hardware'],
 ['Tom', 50, 0, None]]

In [100]:
NAME, AGE, PAY = range(3)

In [101]:
BOB, SUE, TOM = range(3)

In [103]:
persons[BOB][AGE]

42

In [115]:
bob = [ ['name', 'Bob Smith'], ['age', 42], ['pay', 10000] ]
sue = [ ['name', 'Sue Jones'], ['age', 45], ['pay', 20000]]
people = [bob, sue]

In [114]:
def field(record, label):
    for (field_name, field_value) in record:
        if field_name == label:
            return field_value

In [117]:
field(sue, 'age')

45

In [118]:
bob = {'name': 'Bob Smith', 'age': 42, 'pay': 30000, 'job': 'dev'}
sue = {'name': 'Sue Jones', 'age': 45, 'pay': 40000, 'job': 'hdw'}
peoples = {"bob":bob, "sue": sue}

In [120]:
peoples["bob"]['name']

'Bob Smith'